<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Assignment3</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.movies.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ValidateUserFilter</filter-name>
    <filter-class>com.movies.ValidateUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateUserFilter</filter-name>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>GetMovieInfoServlet</servlet-name>
    <servlet-class>com.movies.GetMovieInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMovieInfoServlet</servlet-name>
    <url-pattern>/GetMovieInfoServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ValidateMovieFilter</filter-name>
    <filter-class>com.movies.ValidateMovieFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateMovieFilter</filter-name>
    <url-pattern>/GetMovieInfoServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DisplayAllMoviesServlet</servlet-name>
    <servlet-class>com.movies.DisplayAllMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllMoviesServlet</servlet-name>
    <url-pattern>/DisplayAllMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerDetailsServlet</servlet-name>
    <servlet-class>com.movies.CustomerDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailsServlet</servlet-name>
    <url-pattern>/CustomerDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <servlet-class>com.movies.DeleteMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <url-pattern>/DeleteMovieServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>BookTicketServlet</servlet-name>
    <servlet-class>com.movies.BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketServlet</servlet-name>
    <url-pattern>/BookTicketServlet</url-pattern>
  </servlet-mapping>
</web-app>